html, body
{
background-color: #f7f7f7;
color: #2e2f30;
letter-spacing: 0.5px;
font-family: "Source Sans Pro", Arial, sans-serif;
height: 100vh;
margin: 0;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {   
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
ul, ol, dl, dt, dd {
  list-style-type: none;
}
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, input, button, textarea, th, td, p {
  margin: 0;
  padding: 0;
}
/*浮动S*/
.fl{ float: left;}
.fr{ float: right;}
/*浮动E*/
.panel{
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
}
.panel>.panel-header{
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel>.panel-header>.panel-title{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
  border-bottom: 2px solid #e4e7ed;
  padding: 0 10px 10px 15px;
}
.panel>.panel-body{
  padding: 15px
}
a{
  text-decoration: none;
}